
/* I didn't edit this, but it's pretty much a verbatim copy of the old CSS (it doesn't work!)*/

html {
    background-color: #ecf0f1;
}

body {
    margin: 0;
    padding: 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 800px;
    height: 500px;
    margin-top: -275px;
    margin-left: -330px;
    -webkit-font-smoothing: antialiased;

}

h1, h2, h3, a {
    font-weight: 100;
    font-weight: lighter;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    color: #2c3e50;
}

a {
    color: #2c3e50;
}

a:hover{
    color: #7f8c8d;
}

div.centre {
    margin-left: auto;
    margin-right: auto;
}
