html {
  background-color: #27ae60;
}

body {
  font-family: 'Bitter', serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

a {
	color: white;
}
