html {
    background-color: #0277bd;
}

body {
    margin: 0;
    padding: 0px 64px 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    top: 57%;
    left: 45%;
    width: 1000px;
    height: 500px;
    margin-top: -250px;
    margin-left: -500px;
    -webkit-font-smoothing: antialiased;

}

h1, h2, h3, a {
}

h1 {
    font-size: 75px;
    font-weight: 200;
    color: #ffffff;
    line-height: 50px;
}

h2 {
    font-size: 35px;
    font-weight: 200;
    color:#ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #eeeeee;
}

div.centre {
    margin-left: auto;
    margin-right: auto;
}
