html {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0px 64px 0px;
    font-family: "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, a {
    font-weight: 600;
}

h1 {
    font-size: 64px;
    color: #0040ba;
}
        
h2 {
    font-size: 32px;
    color:#0060ba;
}

h3 {
    font-size: 21;
    color: #0080ba;
}

a {
    color: #0060ba;
}