html {
    background-color: #0060ba;
        background-image:url('background.png')
}

body {
    margin: 0;
    padding: 0px 64px 0px;
    font-family: "Amatic", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;

}

h1, h2, h3, a {
    font-weight: 100;
    font-weight: lighter;
}

h1 {
    font-size: 80px;
    color: #ffffff;
}
        
h2 {
    font-size: 48px;
    color:#ffffff;
}

a {
    color: #ffffff;
}