html {
    background-color: #82ba00;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue";
    line-height: 1.5em;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
        background-color: #82ba00;
}

h1 {
    font-size: 72px;
}
        
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
    font-size: 32px;
}

h3 {
    font-size: 24;
}

a {
    color: #ffffff; 
}

b, strong {
    font-weight: 600;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}
