html {
    background-color: #ffffff;
}

body {
    margin: 0;
    padding: 0px 64px 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    -webkit-font-smoothing: antialiased;

}

h1, h2, h3, a {
    font-weight: 100;
    font-weight: lighter;
    font-family: "Helvetica";
}

h1 {
    font-size: 80px;
    color: #727272;
}
        
h2 {
    font-size: 48px;
    color:#727272;
}

a {
    color: #707070;
}

div.centre {
    margin-left: auto;
    margin-right: auto;
}
